/* src/app/commande/commande.component.css */
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .drag-drop-section {
    width: 45%;
  }
  
  .drop-list {
    border: 1px solid #ccc;
    height: 200px;
    margin-bottom: 5px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 4px;
    background: #f9f9f9;
    transition: background-color 0.3s ease; /* Transition fluide */
  }
  
  .draggable-item {
    padding: 8px;
    margin-bottom: 5px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: move;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  }
  
  mat-card {
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Softer shadow */
    background-color: #ffffff;
  }

  mat-card-title {
    font-size: 18px;
    font-weight: 600;
    color: #444;
    border-bottom: 1px solid #ddd; /* Add a separator */
    padding-bottom: 8px;
  }